.Card-container{
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-family: cursive;
    color: rgb(69, 66, 62);
    

}